:root {
    --header-height: 3.4375rem;
    --sidebar-width: 13.75rem;
    --footer-height: 1.875rem;
}

$font-family-base: 'Ubuntu', sans-serif !default;

$font-size-base: 0.875rem !default;
$fs--4: $font-size-base - 0.25rem !default;
$fs--2: $font-size-base - 0.125rem !default;
$fs-2: $font-size-base + 0.125rem !default;
$fs-4: $font-size-base + 0.25rem !default;
$fs-8: $font-size-base + 0.5rem !default;

$whisper: #e6e8f2;
$white: #fff;
$black: #000;
$manatee: #8d909f;
$athens-gray: #eceef1;
$persian-green: #03989e;
$white-lilac: #f8f9fc;
$mariner: #3963d6;

$body-bg: $athens-gray !default;
$primary: $persian-green !default;
$border-color: $whisper !default;
$body-color:   $manatee !default;
