.b-footer {
    position: fixed;
    bottom: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: var(--footer-height);
    background: $body-bg;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
